:root {
	--color-main: #fff;
	--color-points: hsl(229, 29%, 31%);
	--color-score: hsl(229, 64%, 46%);
	--color-border: hsl(229, 16%, 45%);
	--color-scissors: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
	--color-paper: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
	--color-rock: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	min-width: 100vh;
	background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	font-family: 'Barlow Semi Condensed', sans-serif;
	padding: 48px 40px;
}

header {
	border: solid 2px var(--color-border);
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 600px;
	margin: 0px auto;
	padding: 12px 24px;
}

h1 span {
	display: block;
	color: var(--color-main);
	line-height: 24px;
}

.score {
	background: var(--color-main);
	padding: 12px 42px;
	border-radius: 5px;
}

.score span {
	color: var(--color-score);
}
.points {
	color: var(--color-points);
	display: block;
	line-height: 42px;
	font-size: 48px;
}

main {
	margin: 0 auto;
	max-width: 600px;
	padding: 160px 0;
}
.options {
	aspect-ratio: 313 / 278;
	background-image: url(./images/bg-triangle.svg);
	background-size: cover;
	position: relative;
	margin: 0 auto;
	width: 50%;
}
.options .button {
	position: absolute;
	width: 50%;
}
.button {
	display: flex;
	justify-content: center;
	align-items: center;
	aspect-ratio: 1/1;
	border: none;
	border-radius: 50%;
}

.button__image-container {
	width: 80%;
	height: 80%;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-main);
	cursor: pointer;
}
.button img {
	background-color: var(--color-main);
}
.button--paper {
	background: linear-gradient(var(--color-paper));
	left: 0;
	top: 0;
	transform: translate(-50%, -50%);
}
.button--scissors {
	background: linear-gradient(var(--color-scissors));
	right: 0;
	top: 0;
	transform: translate(50%, -50%);
}
.button--rock {
	background: linear-gradient(var(--color-rock));
	left: 50%;
	transform: translate(-50%, 50%);
	bottom: 0;
}
