:root {
	--color-main: #fff;
	--color-points: hsl(229, 29%, 31%);
	--color-score: hsl(229, 64%, 46%);
	--color-border: hsl(229, 16%, 45%);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	min-width: 100vh;
	background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
	font-family: 'Barlow Semi Condensed', sans-serif;
    padding: 48px 40px;
}

header {
	border: solid 2px var(--color-border);
	border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	max-width: 800px;
	margin: 0px auto;
	padding: 12px 24px;
}

h1 span {
	display: block;
	color: var(--color-main);
    line-height: 24px;
}

.score {
	background: var(--color-main);
    padding: 12px 42px;
    border-radius: 5px;
}

.score span {
	color: var(--color-score);
}
.points {
	color: var(--color-points);
    display: block;
    line-height: 42px;
    font-size: 48px;
}
